.button {
  width: 425px;
  height: 90px;
  border: 1px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: var(--new-order);
  font-size: 34px;
  letter-spacing: calc(34px * 0.21);
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  font-size: 38px;
}
