.button {
  width: 425px;
  height: 90px;
  border: 1px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: var(--new-order);
  font-size: 34px;
  letter-spacing: calc(34px * 0.21);
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  font-size: 38px;
}

@media (max-width: 768px) {
  .button {
    width: calc(425px * var(--percentage));
    height: calc(90px * var(--percentage));
    border-radius: calc(50px * var(--percentage));
    gap: calc(20px * var(--percentage));
    font-size: calc(34px * var(--percentage));
    letter-spacing: calc(calc(34px * var(--percentage)) * 0.21);
  }

  .button:hover {
    font-size: calc(38px * var(--percentage));
  }
}
