.container {
  width: 100vw;
  background-color: var(--light_gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark_gray);
}

.content {
  width: 100%;
  max-width: 807px;
  margin: 120px 20px 100px;
  display: flex;
  flex-direction: column;
}

.slogan {
  align-self: flex-start;
  margin-bottom: 66px;
}

.p1 {
  --size: 64px;
  --final-size: var(--size);
  font-family: var(--league-spartan);
  font-weight: bold;
  font-size: var(--final-size);
  letter-spacing: calc(var(--final-size) * 0.09);
  text-transform: uppercase;
  text-decoration: underline;
}

.p2 {
  --size: 68px;
  --final-size: var(--size);
  font-family: var(--league-spartan);
  font-weight: bold;
  font-size: var(--final-size);
  letter-spacing: calc(var(--final-size) * 0.05);
}

.p3 {
  --size: 26px;
  --final-size: var(--size);
  font-family: var(--filson-pro);
  font-size: var(--final-size);
  text-transform: uppercase;
  font-style: italic;
}

.p4 {
  --size: 68px;
  --final-size: var(--size);
  font-family: var(--yellow-tail);
  font-size: var(--final-size);
  letter-spacing: calc(var(--final-size) * 0.01);
  rotate: -13.42deg;
  margin: -65px 0 0 235px;
}

.cta {
  align-self: flex-end;
  text-align: right;
}

.cta1 {
  --size: 50px;
  --final-size: var(--size);
  font-family: var(--filson-pro);
  font-size: var(--final-size);
  font-style: italic;
  font-weight: 100;
  letter-spacing: calc(var(--final-size) * 0.03);
  line-height: 71px;
}

.cta2,
.cta3 {
  --size: 68px;
  --final-size: var(--size);
  font-family: var(--league-spartan);
  font-size: var(--final-size);
  font-weight: bold;
  letter-spacing: calc(var(--final-size) * 0.02);
  line-height: 97px;
}

.arrow_wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.cta3 {
  text-transform: uppercase;
}

.arrow {
  margin-right: 43px;
}

@media (max-width: 768px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .p1,
  .p2,
  .p3,
  .p4,
  .cta1,
  .cta2,
  .cta3 {
    --final-size: calc(var(--size) * var(--percentage));
  }

  .cta1 {
    line-height: calc(71px * var(--percentage));
  }
  .cta2,
  .cta3 {
    line-height: calc(97px * var(--percentage));
  }

  .p4 {
    margin-top: calc(-64px * var(--percentage));
    margin-left: calc(235px * var(--percentage));
  }

  .arrow {
    width: calc(73px * var(--percentage));
    height: calc(145px * var(--percentage));
    margin-right: calc(43px * var(--percentage));
  }
}

@media (max-width: 420px) {
  .cta {
    --percentage: 0.5;
  }
}

@media (max-width: 374px) {
  .cta {
    --percentage: 0.4;
  }
}
