.container {
  width: 100vw;
  background-color: var(--light_gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark_gray);
}

.content {
  width: 100%;
  max-width: 807px;
  margin: 120px 20px 100px;
  display: flex;
  flex-direction: column;
}

.slogan {
  align-self: flex-start;
  margin-bottom: 66px;
}

.p1 {
  font-family: var(--league-spartan);
  font-weight: bold;
  font-size: 64px;
  letter-spacing: calc(64px * 0.09);
  text-transform: uppercase;
  text-decoration: underline;
}

.p2 {
  font-family: var(--league-spartan);
  font-weight: bold;
  font-size: 68px;
  letter-spacing: calc(64px * 0.05);
}

.p3 {
  font-family: var(--filson-pro);
  font-weight: 100;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

.p4 {
  font-family: var(--yellow-tail);
  font-size: 68px;
  letter-spacing: calc(68px * 0.01);
  rotate: -13.42deg;
  margin: -65px 0 0 235px;
}

.cta {
  align-self: flex-end;
  text-align: right;
}

.cta1 {
  font-family: var(--filson-pro);
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  letter-spacing: calc(50px * 0.03);
  line-height: 71px;
}

.cta2,
.cta3 {
  font-family: var(--league-spartan);
  font-size: 68px;
  font-weight: bold;
  letter-spacing: calc(68px * 0.02);
  line-height: 97px;
}

.arrow_wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.cta3 {
  text-transform: uppercase;
}

.button {
  width: 425px;
  height: 90px;
  border: 1px solid var(--dark_gray);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: New Order, sans-serif;
  font-size: 34px;
  letter-spacing: calc(34px * 0.21);
  margin-top: 20px;
  background-color: var(--light_gray);
  box-shadow: 5px 10px 0 0 #909090;
}

.arrow {
  margin-right: 43px;
}
