.header {
  position: relative;
  width: 100vw;
  height: fit-content;
}

.container {
  background-color: var(--dark_gray);
  height: 725px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.logo {
  position: relative;
  width: 500px;
  height: 63px;
}

.container h2 {
  font-family: var(--new-order);
  font-size: 26px;
  letter-spacing: 5.46px;
  color: var(--light_gray);
}

.colors_bar {
  position: absolute;
  bottom: 0;
}

.desktop {
  display: block;
}
.mobile {
  display: none;
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 90%;
    padding-top: 12%;
  }
}

@media (max-width: 460px) {
  .container h2 {
    font-size: 18px;
  }
}
