.container {
  background-color: var(--dark_gray);
  height: 725px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.logo {
  position: relative;
  width: 500px;
  padding-top: 12.57%;
}

.container h2 {
  font-family: var(--new-order);
  font-size: 26px;
  letter-spacing: 5.46px;
  color: var(--light_gray);
}

.colors_bar {
  position: absolute;
  bottom: 0;
}

.brevemente_wrap {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 1500px;
  margin: 0;
}

.brevemente {
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
}
