.container {
  width: 100vw;
  background-color: var(--dark_gray);
  color: var(--light_gray);
  padding: 150px 0;
}

.content {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

.title {
  text-align: end;
}

.title h2 {
  font-family: League Spartan, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 140px;
}

.title img {
  margin-top: -13px;
  margin-bottom: 73px;
}

.p1,
.p2,
.p3 {
  font-family: Filson Pro;
  font-weight: 100;
  font-style: italic;
  line-height: 37px;
}

.p1 span,
.p2 span,
.p3 span {
  font-family: League Spartan, sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.p1 {
  font-size: 27px;
  margin-bottom: 15px;
  letter-spacing: calc(27px * 0.02);
}
.p1 span {
  letter-spacing: calc(27px * 0.06);
}

.p2,
.p3 {
  font-size: 33px;
  letter-spacing: calc(33px * 0.02);
}

.p2 span,
.p3 span {
  letter-spacing: calc(33px * 0.06);
}

.p2 {
  text-align: end;
  margin-bottom: 40px;
}

.p3 {
  margin-bottom: 30px;
}

.arrow {
  display: flex;
  align-items: flex-end;
  gap: 72px;
}
