.container {
  width: 100vw;
  background-color: var(--light_gray);
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--dark_gray);
}

.title {
  margin-top: 135px;
  font-family: var(--league-spartan);
}

.title p:first-of-type {
  font-size: 167px;
  letter-spacing: calc(167px * 0.06);
  opacity: 0.22;
}

.title p:last-of-type {
  font-size: 97px;
  letter-spacing: calc(97px * 0.06);
  opacity: 0.56;
  margin: -105px 0 90px 87px;
}

.p {
  font-family: var(--new-order);
  text-transform: uppercase;
}

.p:first-of-type {
  margin-top: 40px;
  font-size: 29px;
  letter-spacing: calc(29px * 0.18);
}
.p:last-of-type {
  font-size: 57px;
  letter-spacing: calc(57px * 0.08);
}

@media (max-width: 650px) {
  .title p:first-of-type {
    font-size: calc(167px * var(--percentage));
    letter-spacing: calc((167px * var(--percentage)) * 0.06);
  }

  .title p:last-of-type {
    font-size: calc(97px * var(--percentage));
    letter-spacing: calc((97px * var(--percentage)) * 0.06);
    margin: calc(-105px * var(--percentage)) 0 90px
      calc(87px * var(--percentage));
  }
}
@media (max-width: 420px) {
  .container {
    --percentage: 0.5;
  }
}
