.container {
  background-color: var(--light_gray);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 5 !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 390px;
  height: 100vh;
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--league-spartan);
  font-size: 37px;
}

.menu {
  position: absolute;
  top: 40px;
  right: 45px;
}

.line {
  display: flex;
  flex-direction: column;
}
.upside {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: var(--dark_gray);
  align-self: flex-end;
}

.upside img {
  align-self: flex-start;
}

.underline {
  margin-top: -13px;
  margin-bottom: 80px;
}

@media (max-width: 390px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 374px) {
  .underline:last-of-type {
    width: 300px;
  }
}
