.container {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  border-bottom: 0.5px solid #706d6b;
  background-color: var(--dark_gray);
  z-index: 2;
}

.content {
  text-align: center;
  max-width: 660px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content a {
  color: var(--light_gray);
  font-family: var(--new-order);
  text-decoration: none;
}
