.container {
  width: 100vw;
  height: 90px;
  position: sticky;
  top: 0;
  border-bottom: 0.5px solid #706d6b;
  /* background-color: var(--dark_gray); */
  z-index: 2;
}

.content {
  /* z-index: 3 !important; */
  text-align: center;
  color: var(--light_gray);
  /* background-color: aqua; */
}
