.container {
  background-color: var(--light_gray);
  color: var(--dark_gray);
  position: relative;
  /* border-bottom: 0.5px solid #706d6b; */
}

.p1 {
  font-family: var(--filson-pro);
  font-size: 26px;
  font-weight: 100;
  font-style: italic;
  letter-spacing: calc(26px * 0.02);
  text-align: center;
  padding-top: 100px;
}

.p2 {
  font-family: var(--league-spartan);
  font-size: 32px;
  font-weight: bold;
  letter-spacing: calc(32px * 0.04);
  text-align: center;
  padding-bottom: 100px;
}

.rainbow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
